<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjp.model.dao.ReplyDao">
	<!-- 게시글에 대한 댓글 불러오기 -->
	<select id="selectAll" parameterType="int" resultType="Reply">
		SELECT * FROM reply WHERE boardNo = #{boardNo}
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO reply (boardNo,writer,content,regDate)
		VALUES (#{boardNo},#{writer},#{content},#{regDate})
	</insert>
		
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="Reply">
		UPDATE reply SET
		content = #{content} 
		WHERE id = #{id}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="int">
		DELETE FROM reply WHERE id=#{id}
	</delete>
		
	<!-- 댓글 추천수 증가 -->
	<update id="likeUp" parameterType="int">
		UPDATE reply SET
		like = like+1
		WHERE id=#{id}
	</update>
	
	<!-- 댓글 추천수 감소 -->
	<update id="likeDown" parameterType="int">
		UPDATE reply SET
		like = like-1
		WHERE id=#{id}
	</update>
</mapper>