<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjp.model.dao.RereplyDao">
	<!-- 댓글에 대한 대댓글 불러오기 -->
	<select id="selectAllRereply" parameterType="int" resultType="Rereply">
		SELECT * FROM rereply WHERE reply_id = #{reply_id}
	</select>
	
	<!-- 대댓글 작성 -->
	<insert id="insertRereply" parameterType="Rereply">
		INSERT INTO rereply (reply_id,board_id,writer,content,regDate)
		VALUES (#{reply_id},#{boardNo},#{writer},#{content},#{regDate})
	</insert>
		
	<!-- 대댓글 수정 -->  
	<update id="updateRereply" parameterType="Rereply">
		UPDATE rereply SET
		content = #{content} 
		WHERE id = #{id}
	</update>
	
	<!-- 대댓글 삭제 -->
	<delete id="deleteRereply" parameterType="int">
		DELETE FROM rereply WHERE id=#{id}
	</delete>
		
</mapper>