<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjp.model.dao.BoardDao">
	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="Board">
		SELECT * FROM board;
	</select>
	
	<!-- 게시글 선택 -->
	<select id="selectOne" parameterType="int" resultType="Board">
		SELECT * FROM board WHERE id = #{id};
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (postboard_id,category,title,content,writer,regDate)
		VALUES (#{postBoardId},#{category},#{title},#{content},#{writer},#{regDate});
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE id = #{id};
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board SET
		postboard_id = #{postBoardId},
		category = #{category},
		title = #{title},
		content = #{content},
		WHERE id=#{id}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE board SET 
		viewCnt = viewCnt+1
		WHERE id=#{id}
	</update>
	
	<!-- 추천수 증가 -->
	<update id="upLike">
		INSERT IGNORE INTO board_likes (board_id, user_id)
        VALUES (#{boardId}, #{userId});
        
        UPDATE board
        SET like = (
            SELECT COUNT(*)
            FROM board_likes
            WHERE board_id = #{boardId}
        )
        WHERE id = #{boardId};
	</update>
	
	<!-- 추천수 감소 -->
	<update id="downLike" parameterType="int">
		DELETE FROM board_likes WHERE board_id = #{boardId} AND user_id = #{userId};
		
		UPDATE board
        SET like = (
            SELECT COUNT(*)
            FROM board_likes
            WHERE board_id = #{boardId}
        )
        WHERE id = #{boardId};
	</update>
	
	<!-- 게시글 검색 -->
	<select id="search" parameterType="SearchCondition" resultType="Board">
		SELECT * FROM board 
		<if test="key!='none'">
			WHERE ${key} LIKE CONCAT('%',#{word},'%')
		</if>
		<if test="orderBy!='none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
</mapper>